:root {
  --accent-left: rgba(58, 58, 158, 0.8);
  --accent-right: rgba(136, 136, 206, 0.7);
}

body {
  background: linear-gradient(to right, var(--accent-left), var(--accent-right)),
    url("pexels-eberhard-grossgasteiger-1421903.jpg");
  min-height: 100vh;
  font-family: Poppins, sans-serif;
}

.div1 {
  text-align: center;
}

h2,
h3 {
  text-align: center;
  font-weight: bold;
  border: 3px solid black;
  border-radius: 10%;
}

p {
  text-align: center;
}

p em {
  font-weight: bold;
}

li {
  list-style: none;
}

input[type="button"] {
  cursor: pointer;
  font-size: 1.125rem;
  margin: 7px 0;
}

input[type="text"] {
  font-family: inherit;
}
